.metamaskConnect {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.connect {
    display: flex;
    width: 12%;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #2f74c0;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.connect:hover {
    background-color: #388ae2;
}  

.connect:active {
    transform: scale(0.9);
    box-shadow: 0 0 5px black;
}

.connectButton {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
}

.accountInfo {
    margin-left: 10px;
    font-size: 27;
    color: white;
}

@media (max-width: 1200px) {
    
}

@media (max-width: 700px) {
    .connect {
        height: 30px;
    }
    .connectButton {
        font-size: 10px;
    }
}