.metamaskConnect {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.connect {
    display: flex;
    width: 16%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #2f74c0;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.connect:hover {
    background-color: #388ae2;
}  

.connect:active {
    transform: scale(0.9);
    box-shadow: 0 0 5px black;
}

.connectButton {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 10px;
    color: white;
}

.accountInfo {
    margin-left: 10px;
    font-size: 10px;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.attributes {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.fileSelector {
    margin: 10px;
}

.pdfView {
    width: 100vw;
}

.mintButton {
    display: flex;
    width: 40%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: #2f74c0;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    color: white;
}

.mintButton:hover {
    background-color: #388ae2;
}  

.mintButton:active {
    transform: scale(0.9);
    box-shadow: 0 0 5px black;
}


@media (min-width: 768px) {

}

/*@media (max-width: 700px) {
    .connect {
        height: 30px;
    }
    .connectButton {
        font-size: 10px;
    }
}*/